

.centered {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo img{
    float: left;
}
.text{float: right;}
.main-body  {

    background-image: url("transport.jpg");
    background-size: 100% 100%;
    margin: 25px;    
}
.link ul li{
    float: left;
    
    margin: 5px;
    list-style: none;
   
   
    

}
.link ul li a{
    color: white;
}
.link{
   
}
.abc{float: left;  
}
.abc a{
    color:white
}
.abc div{
    font-size: 20px;
   
}


               
                
                x
                input[type=text], input[type=password] {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 3px solid rgb(68, 0, 255);
                   
                }
                
               x
                button {
                    background-color: #4CAF50;
                    color: white;
                    padding: 14px 20px;
                    margin: 8px 0;
                    border: none;
                    
                    width: 100%;
                }
                
                button:hover {
                    opacity: 0.9;
                }
                
               x
                .cancelbtn {
                    width: auto;
                    padding: 10px 18px;
                    background-color: #f44336;
                }
                
               
                .imgcontainer {
                    text-align: center;
                    margin: 24px 0 12px 0;
                    position: relative;
                }
                
                .imgcontainer1 {
                    text-align: center;
                    margin: 24px 0 12px 0;
                    position: relative;
                }
                
                img.avatar {
                    width: 50%;
                    
                    border-radius: 100%;
                }
                img.avatar1 {
                    width: 30%;
                    height: auto;
                    border-radius: 50%;
                }
                
                .container {
                    padding: 16px;
                }
                
               
                
                span.psw {
                    float: right;
                    padding-top: 16px;
                }
                
              
                .modal {
                   
                    position: fixed; 
                    z-index: 1; 
                    left: 0;
                    top: 0;
                    width: 100%; 
                    height: 100%;
                    overflow: auto;
                    background-color: rgb(0,0,0); 
                    background-color: rgba(0,0,0,0.4); 
                    padding-top: 60px;
                }
                
              
                .modal-content {
                    background-color: #fefefe;
                    margin: 5% auto 15% auto;
                    border: 1px solid #888;
                    width: 80%;
                }
                
               
                .close {
                    position: absolute;
                    right: 25px;
                    top: 0;
                    color: #000;
                    font-size: 35px;
                    font-weight: bold;
                }
                
                .close:hover,
                .close:focus {
                    color: red;
                    cursor: pointer;
                }
                
               
               
                
             
             

            